<!doctype html>
<html lang="en-US">
    <head>
        <title>:title:</title>
        <meta name="description" content="Allan Stewart's personal website">
        <meta name="keywords" content="software craftsman professional developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.jpg">
        <link rel="shortcut icon" sizes="144x144" href="/favicon144.jpg">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav>
            :nav:
        </nav>
        <div id="content">
            :content:
        </div>
    </body>
</html>